Repository broadinstitute/gatk, pull requests merged in 2018-03, with the labels that each got.

#4466 Scattered little improvements to Mutect2
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/PerAlleleAnnotation.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/contamination/CalculateContamination.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/contamination/GetPileupSummaries.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticGenotypingEngine.java
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/annotator/VariantAnnotator/expected/testWithAllAnnotations.vcf
Labels: Mutect

#4305 Outputting alt haplotype sequence for all types of precise SV
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/AnnotatedVariantProducer.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/BreakEndVariantType.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/DiscoverVariantsFromContigAlignmentsSAMSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SimpleSVType.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SvDiscoverFromLocalAssemblyContigAlignmentsSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SvDiscoveryUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SvType.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/ContigAlignmentsModifier.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/FilterLongReadAlignmentsSAMSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/AssemblyContigAlignmentSignatureClassifier.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointComplications.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointsInference.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/ChimericAlignment.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/ImpreciseVariantDetector.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/NovelAdjacencyAndAltHaplotype.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/NovelAdjacencyReferenceLocations.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SimpleNovelAdjacency.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SimpleNovelAdjacencyAndChimericAlignmentEvidence.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SimpleNovelAdjacencyInterpreter.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/TypeInferredFromSimpleChimera.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/utils/ExtractOriginalAlignmentRecordsByNameSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/utils/GATKSVVCFConstants.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/utils/GATKSVVCFHeaderLines.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/utils/SVContext.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/AnnotatedVariantProducerUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SVDiscoveryTestDataProvider.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SimpleSvTypeUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/AssemblyContigAlignmentSignatureClassifierUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointComplicationsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointsInferenceUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/ChimericAlignmentUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/NovelAdjacencyAndAltHaplotypeUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/NovelAdjacencyReferenceLocationsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SvSimpleTypeInferenceUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/utils/GATKSVVCFUtilsUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/integration/outputs/hg19_DEL.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/integration/outputs/hg19_INV.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/utils/SVContext.vcf.gz
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/utils/SVContext.vcf.gz.tbi
Labels: SV

#4322 Fix 2405
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointComplications.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointsInference.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/AnnotatedVariantProducerUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SVTestUtils.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SimpleSVDiscoveryTestDataProvider.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SimpleSVTypeUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SimpleSvTypeUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignedAssemblyUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignedContigGeneratorUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignmentIntervalUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigAlignmentsConfigPickerUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointComplicationsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointsInferenceUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/ChimericAlignmentUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/NovelAdjacencyAndAltHaplotypeUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SvSimpleTypeInferenceUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/utils/SVVCFWriterUnitTest.java
Labels: SV

#4493 Make the SV cluster creation scripts work with preemptible workers
  scripts/sv/create_cluster.sh
  scripts/sv/default_init.sh
  scripts/sv/manage_sv_pipeline.sh
  scripts/sv/runWholePipeline.sh
Labels: SV

#4326 Several improvements to SV contig alignment configuration picker
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/AnnotatedVariantProducer.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/DiscoverVariantsFromContigAlignmentsSAMSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SvDiscoverFromLocalAssemblyContigAlignmentsSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SvDiscoveryUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignmentInterval.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigAlignmentsConfigPicker.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigWithFineTunedAlignments.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/AssemblyContigAlignmentSignatureClassifier.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantDetector.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SimpleNovelAdjacencyAndChimericAlignmentEvidence.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SimpleNovelAdjacencyInterpreter.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/utils/GATKSVVCFConstants.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/utils/GATKSVVCFHeaderLines.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/utils/RDDUtils.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/AnnotatedVariantProducerUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SVTestUtils.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SimpleSVDiscoveryTestDataProvider.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignmentIntervalUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigAlignmentsConfigPickerUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigWithFineTunedAlignmentsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/utils/GATKSVVCFUtilsUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/integration/outputs/hg19_DEL.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/integration/outputs/hg19_INV.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/utils/SVContext.vcf.gz
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/utils/SVContext.vcf.gz.tbi
Labels: SV, bug, enhancement

#4522 Option to emit (but still filter) all germline sites in Mutect2
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2ArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2FiltersArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticGenotypingEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticLikelihoodsEngine.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
Labels: Mutect, community-request

#4330 Add tests to CPX variants in SV pipeline and fixing bugs
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/StructuralVariationDiscoveryArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/AnnotatedVariantProducer.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SvDiscoverFromLocalAssemblyContigAlignmentsSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigAlignmentsConfigPicker.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigWithFineTunedAlignments.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/ContigAlignmentsModifier.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/ChimericAlignment.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantCanonicalRepresentation.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantDetector.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInducingAssemblyContig.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInterpreter.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SimpleNovelAdjacencyInterpreter.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/utils/GATKSVVCFHeaderLines.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigWithFineTunedAlignmentsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/ContigAlignmentsModifierUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxSVInferenceTestUtils.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantCanonicalRepresentationUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInducingAssemblyContigUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInterpreterUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/integration/outputs/hg19_DEL.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/integration/outputs/hg19_INV.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/utils/SVContext.vcf.gz
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/utils/SVContext.vcf.gz.tbi
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/utils/hg38ChrBareBone.txt
Labels: SV, bug

#4472 Adding in a prototype MafOutputRenderer for Funcotator (and many fixes)
  scripts/funcotator/data_sources/cosmic/createSqliteCosmicDb.sh
  scripts/funcotator/data_sources/cosmic/getCosmicDataSources.sh
  scripts/funcotator/data_sources/getDnaRepairGenes.py
  scripts/mutect2_wdl/unsupported/funcotator.wdl
  src/main/java/org/broadinstitute/hellbender/engine/ReferenceDataSource.java
  src/main/java/org/broadinstitute/hellbender/engine/ReferenceFileSource.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/DataSourceFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/Funcotation.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/Funcotator.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorArgumentDefinitions.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/OutputRenderer.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/SequenceComparison.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/TranscriptSelectionMode.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/DataSourceUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/TableFuncotation.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/cosmic/CosmicFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotation.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationBuilder.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/LocatableXsvFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/SimpleKeyXsvFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRenderer.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRendererConstants.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/vcfOutput/VcfOutputRenderer.java
  src/main/java/org/broadinstitute/hellbender/utils/codecs/gencode/GencodeGtfCodec.java
  src/main/java/org/broadinstitute/hellbender/utils/codecs/gencode/GencodeGtfFeature.java
  src/main/java/org/broadinstitute/hellbender/utils/codecs/gencode/GencodeGtfFeatureBaseData.java
  src/main/java/org/broadinstitute/hellbender/utils/codecs/xsvLocatableTable/XsvLocatableTableCodec.java
  src/main/java/org/broadinstitute/hellbender/utils/fasta/CachingIndexedFastaSequenceFile.java
  src/main/java/org/broadinstitute/hellbender/utils/test/ArgumentsBuilder.java
  src/main/resources/org/broadinstitute/hellbender/tools/funcotator/Homo_sapiens_assembly19.dict
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorTestConstants.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/TableFuncotationUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/cosmic/CosmicFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/DataProviderForExampleGencodeGtfGene.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/LocatableXsvFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/SimpleKeyXsvFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRendererUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/codecs/gencode/GencodeGtfCodecUnitTest.java
  src/test/resources/large/funcotator/dataSources/hgnc/hg19/hgnc.config
  src/test/resources/large/funcotator/dataSources/hgnc/hg19/hgnc_download_Nov302017.tsv
  src/test/resources/large/funcotator/dataSources/simple_uniprot/hg19/simple_uniprot.config
  src/test/resources/large/funcotator/dataSources/simple_uniprot/hg19/simple_uniprot_Dec012014.tsv
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/ExampleMafFileForTests.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/MUC16_MNP.oncotatorAnnotated.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/MUC16_MNP.oncotatorAnnotated.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/MUC16_MNP.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/PIK3CA_INDELS.oncotatorAnnotated.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/PIK3CA_INDELS.oncotatorAnnotated.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/PIK3CA_INDELS.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/PIK3CA_SNPS.oncotatorAnnotated.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/PIK3CA_SNPS.oncotatorAnnotated.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/PIK3CA_SNPS.vcf
Labels: Funcotator

#4562 (SV) Misc. improvements to the new location inference and type interpretation tool
  scripts/sv/runWholePipeline.sh
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/StructuralVariationDiscoveryPipelineSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/DiscoverVariantsFromContigAlignmentsSAMSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SvDiscoverFromLocalAssemblyContigAlignmentsSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SvDiscoveryUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignedContig.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigAlignmentsConfigPicker.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigWithFineTunedAlignments.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/ContigAlignmentsModifier.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/AssemblyContigAlignmentSignatureClassifier.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointComplications.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/ChimericAlignment.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInducingAssemblyContig.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInterpreter.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/utils/GATKSVVCFConstants.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/utils/GATKSVVCFHeaderLines.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/AnnotatedVariantProducerUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SVTestUtils.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SimpleSVDiscoveryTestDataProvider.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SvDiscoveryUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignedAssemblyUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignedContigGeneratorUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigAlignmentsConfigPickerUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigWithFineTunedAlignmentsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/ContigAlignmentsModifierUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxSVInferenceTestUtils.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantCanonicalRepresentationUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInducingAssemblyContigUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInterpreterUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/NovelAdjacencyAndAltHaplotypeUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/integration/DiscoverVariantsFromContigAlignmentsSAMSparkIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/integration/StructuralVariationDiscoveryPipelineSparkIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/utils/GATKSVVCFUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/UtilsUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/integration/outputs/hg19_DEL.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/integration/outputs/hg19_INV.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/utils/SVContext.vcf.gz
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/utils/SVContext.vcf.gz.tbi
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/utils/testSAMWriter_chr20.bam
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/utils/testSAMWriter_chr20.bam.bai
Labels: SV, enhancement, tests

#4593 Added in a VcfFuncotationFactory.
  scripts/funcotator/data_sources/getDbSNP.sh
  src/main/java/org/broadinstitute/hellbender/engine/GATKTool.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/DataSourceFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/Funcotator.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorArgumentDefinitions.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/DataSourceUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/TableFuncotation.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/cosmic/CosmicFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/vcf/VcfFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/LocatableXsvFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/SimpleKeyXsvFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRendererConstants.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorTestConstants.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/cosmic/CosmicFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/vcf/VcfFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/LocatableXsvFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/SimpleKeyXsvFuncotationFactoryUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/dbSNP_hg19_snippet.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/dbSNP_hg19_snippet.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/snpTest_chr3_hg19.vcf.idx
Labels: Funcotator, FuncotatorBetaBlocker

#4605 Fixed the refContext annotation.
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactoryUnitTest.java
Labels: Funcotator, FuncotatorBetaBlocker

#4608 Fixing calculation of GC content to be correct.
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactoryUnitTest.java
Labels: Funcotator, FuncotatorBetaBlocker
