Repository broadinstitute/gatk, pull requests merged in 2018-08, with the labels that each got.

#5062 Providing counts for supporting alt reads in the validation normal.
  src/main/java/org/broadinstitute/hellbender/tools/walkers/validation/basicshortmutpileup/BasicSomaticShortMutationValidator.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/validation/basicshortmutpileup/BasicValidationResult.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/validation/basicshortmutpileup/PowerCalculationUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/validation/basicshortmutpileup/ValidateBasicSomaticShortMutations.java
  src/main/java/org/broadinstitute/hellbender/utils/GATKProtectedVariantContextUtils.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/validation/basicshortmutpileup/ValidateBasicSomaticShortMutationsIntegrationTest.java
Labels: Mutect, validation

#5076 M2 wdl doesn't emit unfiltered vcf, which is redundant
  scripts/mutect2_wdl/mutect2.wdl
  scripts/mutect2_wdl/mutect2_multi_sample.wdl
  scripts/mutect2_wdl/mutect2_nio.wdl
  scripts/mutect2_wdl/mutect2_pon.wdl
Labels: Mutect, wdl

#5073 Optimize some Mutect-related tools
  scripts/mutect2_wdl/mutect2.wdl
  scripts/mutect2_wdl/mutect2_nio.wdl
  src/main/java/org/broadinstitute/hellbender/engine/AbstractConcordanceWalker.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/contamination/GetPileupSummaries.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/contamination/GetPileupSummariesIntegrationTest.java
Labels: Mutect, performance

#5032 eliminated unused bestToZero argument in normalizeLikelihoods
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/PairHMMLikelihoodCalculationEngine.java
  src/main/java/org/broadinstitute/hellbender/utils/genotyper/ReadLikelihoods.java
  src/test/java/org/broadinstitute/hellbender/utils/genotyper/ReadLikelihoodsUnitTest.java
Labels: coding

#5080 fixed edge case for M2 palindrome transformer
  src/main/java/org/broadinstitute/hellbender/transformers/PalindromeArtifactClipReadTransformer.java
Labels: Mutect, bug

#5084 turn back on checking variant info fields against header in SV vcf writing
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/utils/SVVCFWriter.java
Labels: SV, bug

#5078 handle overlapping mates in M2 isActive
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2ArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
Labels: Mutect, performance

#4962 Fix a new edge case in alignment deoverlapping
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInterpreter.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInterpreterUnitTest.java
Labels: SV

#5092 Filter M2 calls that are near other filtered calls on the same haplotype
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/FilterMutectCalls.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/FilteringFirstPass.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2FiltersArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2FilterSummary.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2FilteringEngine.java
  src/main/java/org/broadinstitute/hellbender/utils/variant/GATKVCFConstants.java
  src/main/java/org/broadinstitute/hellbender/utils/variant/GATKVCFHeaderLines.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/FilteringFirstPassUnitTest.java
Labels: Mutect, enhancement

#5106 Updating splice site logic.
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/DataProviderForMuc16IndelData.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/DataProviderForPik3caTestData.java
Labels: Funcotator, FuncotatorBetaBlocker

#5046 Populating the DB SNP validation status field properly
  src/main/java/org/broadinstitute/hellbender/tools/copynumber/utils/annotatedinterval/AnnotatedIntervalUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/Funcotation.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/vcf/VcfFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/CustomMafFuncotationCreator.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRenderer.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRendererConstants.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/CustomMafFuncotationCreatorUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/maf_dbsnp_test_input.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/small_pik3ca_dbsnp_ds/dbsnp/hg19/dbsnp.config
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/small_pik3ca_dbsnp_ds/dbsnp/hg19/dbsnp_common_pik3ca_snippet.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/small_pik3ca_dbsnp_ds/dbsnp/hg19/dbsnp_common_pik3ca_snippet.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/small_pik3ca_dbsnp_ds/gencode_pik3ca/hg19/gencode.config
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/small_pik3ca_dbsnp_ds/gencode_pik3ca/hg19/gencode.v19.PIK3CA.gtf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/small_pik3ca_dbsnp_ds/gencode_pik3ca/hg19/gencode.v19.PIK3CA.gtf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/small_pik3ca_dbsnp_ds/gencode_pik3ca/hg19/gencode.v19.PIK3CA_transcript.dict
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/small_pik3ca_dbsnp_ds/gencode_pik3ca/hg19/gencode.v19.PIK3CA_transcript.fasta
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/small_pik3ca_dbsnp_ds/gencode_pik3ca/hg19/gencode.v19.PIK3CA_transcript.fasta.fai
Labels: Funcotator, FuncotatorBetaBlocker

#5121 fixed bug
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/unpaired.bam
  src/test/resources/org/broadinstitute/hellbender/tools/unpaired.bam.bai
Labels: PRIORITY_HIGH, bug

#5107 Fix ExtractOriginalAlignmentRecordsByNameSpark
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/utils/ExtractOriginalAlignmentRecordsByNameSpark.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/integration/ExtractOriginalAlignmentRecordsByNameSparkIntegrationTest.java
Labels: tests

#5131 Updated VCF gencode annotation positions/alleles.
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/Funcotator.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationBuilder.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRenderer.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRendererConstants.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/vcfOutput/VcfOutputRenderer.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotationMapUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorTestConstants.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRendererUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/triple_allele.vcf
Labels: Funcotator, FuncotatorBetaBlocker

#5149 Updated datasource version parsing
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/DataSourceUtils.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/DataSourceUtilsUnitTest.java
Labels: Funcotator, FuncotatorBetaBlocker
