Repository broadinstitute/gatk, pull requests merged in 2018-11, with the labels that each got.

#4655 Updated top-level class documentation for Funcotator.
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/Funcotator.java
Labels: Funcotator, FuncotatorBetaBlocker

#5406 Now can create annotations for symbollic alleles and masked alleles.
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorConstants.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorTestConstants.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/DataProviderForTroubleVariants.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactoryUnitTest.java
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg19/gencode.v19.regressionTestVariantSet.gtf
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg19/gencode.v19.regressionTestVariantSet.gtf.idx
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg19/gencode.v19.regressionTestVariantSet.pc_transcripts.dict
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg19/gencode.v19.regressionTestVariantSet.pc_transcripts.fa
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg19/gencode.v19.regressionTestVariantSet.pc_transcripts.fa.fai
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg38/gencode.v28.regressionTestVariantSet.gtf
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg38/gencode.v28.regressionTestVariantSet.gtf.idx
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg38/gencode.v28.regressionTestVariantSet.pc_transcripts.dict
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg38/gencode.v28.regressionTestVariantSet.pc_transcripts.fa
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg38/gencode.v28.regressionTestVariantSet.pc_transcripts.fa.fai
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestHg19Large_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestHg19Large_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet1_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet1_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet2_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet2_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSetHG38.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSetHG38_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSetHG38_expected.vcf
Labels: Funcotator, FuncotatorBetaBlocker, bug

#5423 Updated testing Gencode data sources to fully exercise test data set
  scripts/funcotator/testing/createSimpleGencodeDataSourceFromVariants.sh
  scripts/funcotator/testing/run_oncotator_VCF_in.sh
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorTestConstants.java
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg19/gencode.config
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg19/gencode.v19.regressionTestVariantSet.gtf
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg19/gencode.v19.regressionTestVariantSet.gtf.idx
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg19/gencode.v19.regressionTestVariantSet.pc_transcripts.dict
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg19/gencode.v19.regressionTestVariantSet.pc_transcripts.fa
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg19/gencode.v19.regressionTestVariantSet.pc_transcripts.fa.fai
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg19/gencode.v19.testVariantSubset.gtf
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg19/gencode.v19.testVariantSubset.gtf.idx
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg19/gencode.v19.testVariantSubset.pc_transcripts.dict
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg19/gencode.v19.testVariantSubset.pc_transcripts.fa
  src/test/resources/large/funcotator/funcotator_dataSources/gencode/hg19/gencode.v19.testVariantSubset.pc_transcripts.fa.fai
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestHg19Large_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestHg19Large_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet1_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet1_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet2_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet2_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSetHG38_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSetHG38_expected.vcf
Labels: Funcotator, FuncotatorBetaBlocker

#5413 Overhaul of CalculateContamination's model for determining hom alt sites
  docs/mutect/mutect.pdf
  docs/mutect/mutect.tex
  src/main/java/org/broadinstitute/hellbender/tools/walkers/contamination/CalculateContamination.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/contamination/ContaminationModel.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/contamination/ContaminationRecord.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/contamination/ContaminationSegmenter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/contamination/PileupSummary.java
  src/main/java/org/broadinstitute/hellbender/utils/OptimizationUtils.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/contamination/CalculateContaminationIntegrationTest.java
Labels: Mutect

#5442 Fixed M2 bug for germline resources with AF=.
  src/main/java/org/broadinstitute/hellbender/tools/walkers/SplitIntervals.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/GermlineProbabilityCalculator.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/gnomad-without-af.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/gnomad-without-af.vcf.idx
Labels: Mutect, bug

#5438 Added a script that can create data sources from BED files.
  scripts/funcotator/data_sources/createDataSourcesFromBedFiles.sh
Labels: Funcotator

#5466 optimization in CigarUtils to shortcut to M-only CIGAR when provably optimal
  src/main/java/org/broadinstitute/hellbender/utils/read/CigarUtils.java
Labels: HaplotypeCaller, Mutect, performance
