Repository broadinstitute/gatk, pull requests merged in 2018-12, with the labels that each got.

#5467 delete the CountSet class
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyResultSet.java
  src/main/java/org/broadinstitute/hellbender/utils/collections/CountSet.java
  src/test/java/org/broadinstitute/hellbender/utils/collections/CountSetUnitTest.java
Labels: coding

#5487 made Mutect2 read position filter default much less stringent
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2FiltersArgumentCollection.java
Labels: Mutect

#5473 Adaptive pruning option for local assembly
  docs/local_assembly.pdf
  docs/local_assembly.tex
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyBasedCallerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyBasedCallerUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerReadThreadingAssemblerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/MutectReadThreadingAssemblerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/ReadThreadingAssemblerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/graphs/AdaptiveChainPruner.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/graphs/BaseGraph.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/graphs/ChainPruner.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/graphs/LowWeightChainPruner.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/graphs/Path.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/ReadThreadingAssembler.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/ReadThreadingGraph.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2ArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/main/java/org/broadinstitute/hellbender/utils/MathUtils.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/graphs/ChainPrunerUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/graphs/LowWeightChainPrunerUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/ReadThreadingAssemblerUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2EngineUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/utils/MathUtilsUnitTest.java
Labels: Mutect, community-request

#5491 Now can match between hg19 and b37 data sources.
  scripts/funcotator/testing/compareTwoReferenceDictionaries.sh
  scripts/funcotator/testing/testFuncotator.sh
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/DataSourceFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/DataSourceUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/cosmic/CosmicFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/vcf/VcfFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/LocatableXsvFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/SimpleKeyXsvFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/vcfOutput/VcfOutputRenderer.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactoryUnitTest.java
Labels: Funcotator, FuncotatorBetaBlocker

#5501 mismatch ratio option in realignment filter
  src/main/java/org/broadinstitute/hellbender/tools/walkers/realignmentfilter/FilterAlignmentArtifacts.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/realignmentfilter/RealignmentArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/realignmentfilter/RealignmentEngine.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/realignmentfilter/RealignmentEngineUnitTest.java
Labels: Mutect

#5514 Adding scripts to liftover gnomAD. Also bugfixes for Funcotator NIO.
  scripts/funcotator/data_sources/ALL_SCRIPTS_ARE_UNSUPPORTED.txt
  scripts/funcotator/data_sources/createLiftoverForB37ToHg38.sh
  scripts/funcotator/data_sources/gnomAD/b37ToHg38.over.chain
  scripts/funcotator/data_sources/gnomAD/createGnomadAlleleFreqTsv.json
  scripts/funcotator/data_sources/gnomAD/createGnomadAlleleFreqTsv.wdl
  scripts/funcotator/data_sources/gnomAD/gatherVcfsCloud.wdl
  scripts/funcotator/data_sources/gnomAD/indexFastaFile.wdl
  scripts/funcotator/data_sources/gnomAD/indexFeatureFile.wdl
  scripts/funcotator/data_sources/gnomAD/indexFeatureFile_gnomad2.1_contig_files.json
  scripts/funcotator/data_sources/gnomAD/indexFeatureFile_gnomad2.1_fullContigFile.json
  scripts/funcotator/data_sources/gnomAD/liftoverVcf.wdl
  scripts/funcotator/data_sources/gnomAD/liftoverVcf_Gnomad2.1.json
  scripts/funcotator/data_sources/gnomAD/liftoverVcf_Gnomad2.1_parallel.json
  scripts/funcotator/data_sources/gnomAD/mergeVcfs.wdl
  scripts/funcotator/data_sources/gnomAD/mergeVcfs_gnomadPartialOutput.json
  scripts/funcotator/testing/testFuncotator.sh
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/DataSourceUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/cosmic/CosmicFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/utils/nio/SeekableByteChannelPrefetcher.java
Labels: Funcotator, FuncotatorBetaBlocker
