Repository broadinstitute/gatk, pull requests merged in 2018-10, with the labels that each got.

#5241 Fix an M2 bug
  src/main/java/org/broadinstitute/hellbender/transformers/PalindromeArtifactClipReadTransformer.java
  src/test/java/org/broadinstitute/hellbender/transformers/PalindromeArtifactClipReadTransformerUnitTest.java
Labels: PRIORITY_HIGH, bug

#4993 sample code snippet showing how to specify combine operations for annotations
  build.gradle
  src/main/java/org/broadinstitute/hellbender/engine/FeatureDataSource.java
  src/main/java/org/broadinstitute/hellbender/tools/FixCallSetSampleOrdering.java
  src/main/java/org/broadinstitute/hellbender/tools/genomicsdb/GenomicsDBImport.java
  src/test/java/org/broadinstitute/hellbender/tools/genomicsdb/GenomicsDBImportUnitTest.java
Labels: GenomicsDB

#5303 fixed bug for M2 GGA alleles with zero coverage
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticGenotypingEngine.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/gga_mode.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/gga_mode_2.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/gga_mode_2.vcf.idx
Labels: Mutect, bug

#5322 handle normal reads in validation sample in BasicSomaticValidator
  src/main/java/org/broadinstitute/hellbender/tools/walkers/validation/basicshortmutpileup/ValidateBasicSomaticShortMutations.java
Labels: Evaluation, Mutect

#5328 Realignment filter annotates vcf with passing and failing read counts
  src/main/java/org/broadinstitute/hellbender/tools/walkers/realignmentfilter/FilterAlignmentArtifacts.java
  src/main/java/org/broadinstitute/hellbender/utils/variant/GATKVCFConstants.java
  src/main/java/org/broadinstitute/hellbender/utils/variant/GATKVCFHeaderLines.java
Labels: Evaluation, Mutect

#5357 Now DE_NOVO_START_IN_FRAME and DE_NOVO_START_OUT_FRAME are correct.
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactoryUnitTest.java
  src/test/resources/large/funcotator/regressionTestHg19Large_expected.maf
  src/test/resources/large/funcotator/regressionTestHg19Large_expected.vcf
  src/test/resources/large/funcotator/regressionTestVariantSet1_expected.maf
  src/test/resources/large/funcotator/regressionTestVariantSet1_expected.vcf
  src/test/resources/large/funcotator/regressionTestVariantSet2_expected.maf
  src/test/resources/large/funcotator/regressionTestVariantSet2_expected.vcf
  src/test/resources/large/funcotator/regressionTestVariantSetHG38_expected.maf
  src/test/resources/large/funcotator/regressionTestVariantSetHG38_expected.vcf
Labels: Funcotator, Funcotator 1.1, FuncotatorBetaBlocker

#5321 Funcotator - Adding cDNA Strings for Intronic Variants
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/DataProviderForMuc16IndelData.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/DataProviderForMuc16MnpFullData.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/DataProviderForPik3caTestData.java
  src/test/resources/large/funcotator/regressionTestHg19Large_expected.maf
  src/test/resources/large/funcotator/regressionTestHg19Large_expected.vcf
  src/test/resources/large/funcotator/regressionTestVariantSet1_expected.maf
  src/test/resources/large/funcotator/regressionTestVariantSet1_expected.vcf
  src/test/resources/large/funcotator/regressionTestVariantSet2_expected.maf
  src/test/resources/large/funcotator/regressionTestVariantSet2_expected.vcf
  src/test/resources/large/funcotator/regressionTestVariantSetHG38_expected.maf
  src/test/resources/large/funcotator/regressionTestVariantSetHG38_expected.vcf
  src/testUtils/java/org/broadinstitute/hellbender/testutils/VariantContextTestUtils.java
Labels: Funcotator, Funcotator 1.1, FuncotatorClinicalPipeline

#5381 Moved validation test data out of large files area.
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorTestConstants.java
  src/test/resources/large/funcotator/regressionTestHg19Large.vcf
  src/test/resources/large/funcotator/regressionTestHg19Large_expected.maf
  src/test/resources/large/funcotator/regressionTestHg19Large_expected.vcf
  src/test/resources/large/funcotator/regressionTestVariantSet1.vcf
  src/test/resources/large/funcotator/regressionTestVariantSet1_expected.maf
  src/test/resources/large/funcotator/regressionTestVariantSet1_expected.vcf
  src/test/resources/large/funcotator/regressionTestVariantSet2.vcf
  src/test/resources/large/funcotator/regressionTestVariantSet2_expected.maf
  src/test/resources/large/funcotator/regressionTestVariantSet2_expected.vcf
  src/test/resources/large/funcotator/regressionTestVariantSetHG38.vcf
  src/test/resources/large/funcotator/regressionTestVariantSetHG38_expected.maf
  src/test/resources/large/funcotator/regressionTestVariantSetHG38_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestHg19Large.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestHg19Large_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestHg19Large_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet1.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet1_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet1_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet2.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet2_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet2_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSetHG38.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSetHG38_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSetHG38_expected.vcf
Labels: Funcotator

#5380 Now correctly populates transcript position.
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotation.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationBuilder.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRendererUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/test/FuncotatorTestUtils.java
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestHg19Large_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestHg19Large_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet1_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet1_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet2_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet2_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSetHG38_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSetHG38_expected.vcf
  src/testUtils/java/org/broadinstitute/hellbender/testutils/VariantContextTestUtils.java
Labels: Funcotator
