Repository broadinstitute/gatk, pull requests merged in 2018-05, with the labels that each got.

#4770 Addressing issue #4712
  scripts/funcotator/data_sources/getGencode.sh
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/DataSourceUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/utils/codecs/gencode/GencodeGtfCodec.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/DataProviderForMuc16IndelData.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactoryUnitTest.java
Labels: Funcotator, FuncotatorBetaBlocker

#4698 Realignment filter
  src/main/java/org/broadinstitute/hellbender/engine/ReadsContext.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/realignmentfilter/FilterAlignmentArtifacts.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/realignmentfilter/RealignmentArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/realignmentfilter/RealignmentEngine.java
  src/main/java/org/broadinstitute/hellbender/utils/Trilean.java
  src/main/java/org/broadinstitute/hellbender/utils/read/ReadUtils.java
  src/main/java/org/broadinstitute/hellbender/utils/variant/GATKVCFConstants.java
  src/main/java/org/broadinstitute/hellbender/utils/variant/GATKVCFHeaderLines.java
  src/test/java/org/broadinstitute/hellbender/engine/ReadsContextUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/realignmentfilter/FilterAlignmentArtifactsIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/realignmentfilter/RealignmentEngineUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/read/ReadUtilsUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/human_g1k_v37.20.2000000.3000000.img
Labels: CLI, Mutect

#4650 Correctly represent MNPs in HC and M2, with option to split into SNPs as before
  scripts/m2_cromwell_tests/test_m2_wdl_multi.json
  scripts/mutect2_wdl/mutect2.wdl
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyBasedCallerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyBasedCallerGenotypingEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyResultSet.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCaller.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerGenotypingEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2ArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticGenotypingEngine.java
  src/main/java/org/broadinstitute/hellbender/utils/haplotype/EventMap.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerGenotypingEngineUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/utils/haplotype/EventMapUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.CEUTrio.HiSeq.WGS.b37.NA12878.calls.20.10100000-10150000-unsplit-mnps.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.CEUTrio.HiSeq.WGS.b37.NA12878.calls.20.10100000-10150000-unsplit-mnps.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/mnp.bai
  src/test/resources/org/broadinstitute/hellbender/tools/mnp.bam
Labels: HaplotypeCaller, Mutect, enhancement

#4602 (SV) re-interpreting CPX records by experimental interpretation tool
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/StructuralVariationDiscoveryPipelineSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/DiscoverVariantsFromContigAlignmentsSAMSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SvDiscoverFromLocalAssemblyContigAlignmentsSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SvDiscoveryInputMetaData.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInterpreter.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantReInterpreterSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SegmentedCpxVariantSimpleVariantExtractor.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SimpleNovelAdjacencyInterpreter.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/utils/SVVCFWriter.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/AnnotatedVariantProducerUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SVDiscoveryTestUtilsAndCommonDataProvider.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SimpleSVDiscoveryTestDataProvider.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SimpleSVTypeUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignedAssemblyUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignedContigGeneratorUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignmentIntervalUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigAlignmentsConfigPickerUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigWithFineTunedAlignmentsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/ContigAlignmentsModifierUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointComplicationsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointsInferenceUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxSVInferenceTestUtils.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantCanonicalRepresentationUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInducingAssemblyContigUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInterpreterUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/NovelAdjacencyAndAltHaplotypeUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SegmentedCpxVariantSimpleVariantExtractorUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SimpleChimeraUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SimpleNovelAdjacencyAndSimpleChimeraEvidenceUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/integration/CpxVariantReInterpreterSparkIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/integration/StructuralVariationDiscoveryPipelineSparkIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/utils/SVVCFWriterUnitTest.java
  src/test/resources/large/CpxVariantReInterpreterSparkIntegrationTest_complex_assembly.bam
  src/test/resources/large/CpxVariantReInterpreterSparkIntegrationTest_complex_assembly.bam.bai
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/integration/inputs/CpxVariantReInterpreterSparkIntegrationTest_complex.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/integration/inputs/Homo_sapiens_assembly38.kill.alts
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/integration/outputs/cpx_reinterpreted_simple_1_seg.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/integration/outputs/cpx_reinterpreted_simple_multi_seg.vcf
Labels: SV, enhancement

#4809 Fixed M2 bug where triallelic normal artifacts were sometimes hidden from filtering
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2ArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticGenotypingEngine.java
Labels: bug

#4817 Refining handling of transcripts with missing sequence info and other fixes.
  scripts/funcotator/data_sources/getDnaRepairGenes.py
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/cosmic/CosmicFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/SimpleKeyXsvFuncotationFactory.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorTestConstants.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/DataSourceUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/SimpleKeyXsvFuncotationFactoryUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/xsv_PIPESV_testFile.xsv
Labels: Funcotator, FuncotatorBetaBlocker

#4823 Changing the name of the GencodeFuncotationFactory to be read from file.
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/DataSourceUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotation.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationBuilder.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRenderer.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRendererUnitTest.java
  src/test/resources/large/funcotator/funcotator_dataSources/gencode_muc16/hg19/gencode.config
  src/test/resources/large/funcotator/funcotator_dataSources/gencode_pik3ca/hg19/gencode.config
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/ExampleMafFileForTests.maf
Labels: Funcotator, FuncotatorBetaBlocker
