Repository broadinstitute/gatk, pull requests merged in 2018-02, with the labels that each got.

#4384 Removed BetaFeature tag from Mutect2 and FilterMutectCalls
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/FilterMutectCalls.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2.java
Labels: Mutect

#4414 CNV Tumor only WDL
  scripts/cnv_cromwell_tests/somatic/cnv_somatic_pair_wes_no-gc_tumor_only_workflow.json
  scripts/cnv_cromwell_tests/somatic/cnv_somatic_pair_wgs_do-gc_tumor_only_workflow.json
  scripts/cnv_cromwell_tests/somatic/run_cnv_somatic_workflows.sh
  scripts/cnv_wdl/somatic/README.md
  scripts/cnv_wdl/somatic/cnv_somatic_pair_workflow.wdl
Labels: Copy Number tools, wdl

#4335 Viterbi segmentation and segment quality calculation for gcnvkernel + (python) CLI script
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/README.txt
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/__init__.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/_version.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/config.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/io/io_commons.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/io/io_consts.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/io/io_denoising_calling.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/io/io_intervals_and_counts.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/io/io_ploidy.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/models/model_denoising_calling.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/models/model_ploidy.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/models/theano_hmm.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/postprocess/__init__.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/postprocess/segment_quality_utils.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/postprocess/viterbi_segmentation.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/structs/interval.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/structs/metadata.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/structs/segment.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/tasks/inference_task_base.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/tasks/task_case_denoising_calling.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/tasks/task_cohort_denoising_calling.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/tasks/task_cohort_ploidy_determination.py
  src/main/python/org/broadinstitute/hellbender/gcnvkernel/utils/math.py
  src/main/python/org/broadinstitute/hellbender/setup_gcnvkernel.py
  src/main/resources/org/broadinstitute/hellbender/tools/copynumber/case_denoising_calling.py
  src/main/resources/org/broadinstitute/hellbender/tools/copynumber/cohort_denoising_calling.py
  src/main/resources/org/broadinstitute/hellbender/tools/copynumber/segment_gcnv_calls.py
Labels: Copy Number tools, Germline CNV
