Repository broadinstitute/gatk, pull requests merged in 2018-06, with the labels that each got.

#4845 M2 STR filter also looks at insertions
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2FilteringEngine.java
Labels: Mutect

#4805 Updated doc templates to match website updates
  src/main/resources/org/broadinstitute/hellbender/utils/helpTemplates/common.html
  src/main/resources/org/broadinstitute/hellbender/utils/helpTemplates/generic.index.template.html
  src/main/resources/org/broadinstitute/hellbender/utils/helpTemplates/generic.template.html
Labels: UserDoc

#4844 Gave SortSam lenient validation in M2 wdl
  scripts/mutect2_wdl/mutect2.wdl
  scripts/mutect2_wdl/mutect2_nio.wdl
Labels: Mutect, bug, wdl

#4848 realignment filter in M2 wdl
  scripts/mutect2_wdl/mutect2.wdl
  scripts/mutect2_wdl/mutect2_nio.wdl
  src/main/java/org/broadinstitute/hellbender/tools/walkers/realignmentfilter/FilterAlignmentArtifacts.java
Labels: Mutect, wdl

#4851 tweaked Mutect read position filter to better handle non-biological insertions
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2FilteringEngine.java
Labels: Mutect, enhancement

#4836 removed unsupportd m2 wdls that now live on Firecloud
  scripts/mutect2_wdl/unsupported/calculate_sensitivity.py
  scripts/mutect2_wdl/unsupported/hapmap_sensitivity.wdl
  scripts/mutect2_wdl/unsupported/hapmap_sensitivity_all_plexes.wdl
  scripts/mutect2_wdl/unsupported/m2_basic_validation.wdl
  scripts/mutect2_wdl/unsupported/mutect2-replicate-validation.wdl
  scripts/mutect2_wdl/unsupported/mutect2_compare_tumors.wdl
  scripts/mutect2_wdl/unsupported/mutect2_multi_sample_concordance.wdl
  scripts/mutect2_wdl/unsupported/mutect2_opt.wdl
  scripts/mutect2_wdl/unsupported/preprocess_hapmap.wdl
Labels: Mutect, wdl

#4873 Simple fix to copy_sv_results.sh
  scripts/sv/copy_sv_results.sh
Labels: SV

#4877 increased boot disk size on GATK tasks in M2 wdl to accommodate 4.0.5.0 docker
  scripts/mutect2_wdl/mutect2.wdl
  scripts/mutect2_wdl/mutect2_nio.wdl
  scripts/mutect2_wdl/mutect2_pon.wdl
Labels: Mutect, bug, wdl

#4858 bamout no longer shows deletions in reference-supporting reads ending in STRs
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/DepthPerAlleleBySample.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/DepthPerSampleHC.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/OxoGReadCounts.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/PerAlleleAnnotation.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/RankSumTest.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/StrandArtifact.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/StrandBiasTest.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/UniqueAltReadCount.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/allelespecific/AS_RMSMappingQuality.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/allelespecific/AS_RankSumTest.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/allelespecific/AS_StrandBiasTest.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyBasedCallerUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticGenotypingEngine.java
  src/main/java/org/broadinstitute/hellbender/utils/genotyper/ReadLikelihoods.java
  src/main/java/org/broadinstitute/hellbender/utils/read/AlignmentUtils.java
  src/main/java/org/broadinstitute/hellbender/utils/read/CigarUtils.java
  src/test/java/org/broadinstitute/hellbender/utils/genotyper/ReadLikelihoodsUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testGVCFMode.gatk4.alleleSpecific.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testGVCFMode.gatk4.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testVCFMode.gatk4.vcf
Labels: HaplotypeCaller, Mutect, enhancement

#4881 Fixing error when spanning deletions overlap coding regions
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotation.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRenderer.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/spanning_del.vcf
Labels: Funcotator, bug

#4936 LocatableXsv data sources now produce at most 1 funcotation
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/LocatableXsvFuncotationFactory.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/LocatableXsvFuncotationFactoryUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/clinvar_hg19_multihit_test.vcf
Labels: Funcotator, FuncotatorBetaBlocker

#4931 Eliminated the filtering by user transcripts and fixed locus level issue
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/TranscriptSelectionMode.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/utils/codecs/gencode/GencodeGtfFeature.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactoryUnitTest.java
Labels: Funcotator, FuncotatorBetaBlocker, bug

#4835 Overhaul tests on SV assembly-based non-complex breakpoint and type inference code
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/StructuralVariationDiscoveryArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/StructuralVariationDiscoveryPipelineSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/AnnotatedVariantProducer.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/BreakEndVariantType.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/DiscoverVariantsFromContigAlignmentsSAMSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SimpleSVType.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SvDiscoverFromLocalAssemblyContigAlignmentsSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SvType.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigAlignmentsConfigPicker.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigWithFineTunedAlignments.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/ContigAlignmentsModifier.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointComplications.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointsInference.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/ContigChimericAlignmentIterativeInterpreter.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantCanonicalRepresentation.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInterpreter.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantType.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/ImpreciseVariantDetector.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/NovelAdjacencyAndAltHaplotype.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SegmentedCpxVariantSimpleVariantExtractor.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SimpleChimera.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SimpleNovelAdjacencyAndChimericAlignmentEvidence.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SimpleNovelAdjacencyInterpreter.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/TypeInferredFromSimpleChimera.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/utils/SVVCFWriter.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/AnnotatedVariantProducerUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/DiscoverVariantsFromContigAlignmentsSAMSparkUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SimpleSVDiscoveryTestDataProvider.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SimpleSVTypeUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/TestUtilsForAssemblyBasedSVDiscovery.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignedAssemblyUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignedContigGeneratorUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignmentIntervalUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigAlignmentsConfigPickerUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigWithFineTunedAlignmentsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/ContigAlignmentsModifierUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/AssemblyBasedSVDiscoveryBaseTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/AssemblyBasedSVDiscoveryTestDataProvider.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/AssemblyBasedSVDiscoveryTestDataProviderForBreakEndVariants.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/AssemblyBasedSVDiscoveryTestDataProviderForInversionBreakpoints.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/AssemblyBasedSVDiscoveryTestDataProviderForSimpleSV.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointComplicationsAndLocationAndAltSeqInferenceUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointComplicationsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointsInferenceUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/ContigChimericAlignmentIterativeInterpreterUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantCanonicalRepresentationUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInducingAssemblyContigUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInterpreterUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/ImpreciseVariantDetectorUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/NovelAdjacencyAndAltHaplotypeUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SegmentedCpxVariantSimpleVariantExtractorUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SimpleChimeraUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SimpleNovelAdjacencyAndSimpleChimeraEvidenceUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/TestUtilsCpxVariantInference.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/utils/SVVCFWriterUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/integration/outputs/cpx_reinterpreted_simple_multi_seg.vcf
Labels: SV, enhancement, tests

#4945 (SV) output "bai" for local assembly alignments BAM
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/StructuralVariationDiscoveryArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/StructuralVariationDiscoveryPipelineSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/DiscoverVariantsFromContigAlignmentsSAMSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SvDiscoverFromLocalAssemblyContigAlignmentsSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/evidence/AlignedAssemblyOrExcuse.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/evidence/FindBreakpointEvidenceSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/utils/SVFileUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/utils/SVUtils.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/integration/FindBreakpointEvidenceSparkIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/integration/SVIntegrationTestDataProvider.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/integration/StructuralVariationDiscoveryPipelineSparkIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/utils/SVUtilsUnitTest.java
Labels: SV, bug

#4961 (SV) Add tests for AssemblyContigWithFineTunedAlignments
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SvDiscoverFromLocalAssemblyContigAlignmentsSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigWithFineTunedAlignments.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigWithFineTunedAlignmentsUnitTest.java
Labels: SV, bug, tests

#4927 Additional caching speed fixes for Funcotator.
  scripts/funcotator/data_sources/cosmic/createSqliteCosmicDb.sh
  scripts/funcotator/data_sources/getDbSNP.sh
  scripts/funcotator/data_sources/sortClinvarHgmd.py
  src/main/java/org/broadinstitute/hellbender/engine/AbstractConcordanceWalker.java
  src/main/java/org/broadinstitute/hellbender/engine/AssemblyRegionWalker.java
  src/main/java/org/broadinstitute/hellbender/engine/FeatureCache.java
  src/main/java/org/broadinstitute/hellbender/engine/FeatureWalker.java
  src/main/java/org/broadinstitute/hellbender/engine/GATKTool.java
  src/main/java/org/broadinstitute/hellbender/engine/IntervalWalker.java
  src/main/java/org/broadinstitute/hellbender/engine/LocusWalker.java
  src/main/java/org/broadinstitute/hellbender/engine/ReadWalker.java
  src/main/java/org/broadinstitute/hellbender/engine/ReferenceContext.java
  src/main/java/org/broadinstitute/hellbender/engine/VariantWalkerBase.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/Funcotator.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorArgumentDefinitions.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/DataSourceUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/transformers/VariantTransformer.java
  src/test/java/org/broadinstitute/hellbender/engine/ReferenceContextUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotationMapUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRendererUnitTest.java
  src/test/resources/large/funcotator/small_ds_pik3ca/dummy_clinvar_pik3ca/hg19/dummy_clinvar_hg19_pik3ca.vcf
  src/test/resources/large/funcotator/small_ds_pik3ca/dummy_clinvar_pik3ca/hg19/dummy_clinvar_hg19_pik3ca.vcf.idx
Labels: Funcotator, FuncotatorBetaBlocker
