Repository broadinstitute/gatk, pull requests merged in 2018-09, with the labels that each got.

#5157 Add documentation and args check for SVInterval
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignmentInterval.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/SegmentedCpxVariantSimpleVariantExtractor.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/evidence/FindBreakpointEvidenceSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/evidence/XGBoostEvidenceFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/utils/SVInterval.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/utils/SVIntervalTreeTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/utils/SVIntervalUnitTest.java
Labels: SV

#5165 Switched MarkDuplicatesSpark tile parsing code to use shorts in order to match picard
  src/main/java/org/broadinstitute/hellbender/utils/read/markduplicates/sparkrecords/TransientFieldPhysicalLocation.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/pipelines/MarkDuplicatesSparkIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/markduplicates/AbstractMarkDuplicatesCommandLineProgramTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/markduplicates/MarkDuplicatesGATKIntegrationTest.java
Labels: MarkDuplicatesSpark

#5150 Created a FuncotatorDataSourceRetriever to download data sources.
  src/main/java/org/broadinstitute/hellbender/exceptions/UserException.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorDataSourceDownloader.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/utils/io/IOUtils.java
  src/main/java/org/broadinstitute/hellbender/utils/nio/NioFileCopierWithProgressMeter.java
  src/main/java/org/broadinstitute/hellbender/utils/nio/NioFileCopierWithProgressMeterResults.java
  src/main/java/org/broadinstitute/hellbender/utils/runtime/StreamingProcessController.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorDataSourceDownloaderIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorTestConstants.java
  src/test/java/org/broadinstitute/hellbender/utils/io/IOUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/nio/NioFileCopierWithProgessMeterTestUtils.java
  src/test/java/org/broadinstitute/hellbender/utils/nio/NioFileCopierWithProgressMeterResultsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/nio/NioFileCopierWithProgressMeterUnitTest.java
  src/test/resources/large/funcotator/dummyDataSources.sha256
  src/test/resources/large/funcotator/dummyDataSources.tar.gz
  src/test/resources/large/funcotator/dummyDataSources/MANIFEST.txt
  src/test/resources/large/funcotator/dummyDataSources/README.txt
  src/test/resources/large/funcotator/dummyDataSources/dummySrc1/hg19/dnaRepairGenes.20180524T145835.csv
  src/test/resources/large/funcotator/dummyDataSources/dummySrc1/hg19/dnaRepairGenes.config
  src/test/resources/large/funcotator/dummyDataSources/dummySrc1/hg38/CancerGeneCensus_Table_1_full_2012-03-15.txt
  src/test/resources/large/funcotator/dummyDataSources/dummySrc1/hg38/cancer_gene_census.config
  src/test/resources/large/funcotator/dummyDataSources/dummySrc2/hg19/gencode_xrefseq.config
  src/test/resources/large/funcotator/dummyDataSources/dummySrc2/hg19/gencode_xrefseq_v75_37.tsv
  src/test/resources/large/funcotator/dummyDataSources/dummySrc2/hg38/gencode_xrefseq.config
  src/test/resources/large/funcotator/dummyDataSources/dummySrc2/hg38/gencode_xrefseq_v90_38.tsv
  src/test/resources/large/funcotator/dummyDataSources/dummySrc3/hg19/Familial_Cancer_Genes.no_dupes.tsv
  src/test/resources/large/funcotator/dummyDataSources/dummySrc3/hg19/familial.config
  src/test/resources/large/funcotator/dummyDataSources/dummySrc3/hg38
Labels: Funcotator, FuncotatorBetaBlocker

#5159 remove ignored tests in SVContextUnitTest
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/utils/SVContextUnitTest.java
Labels: SV, tests

#5134 Funcotation Engine Refactoring
  src/main/java/org/broadinstitute/hellbender/cmdline/argumentcollections/OptionalReadInputArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/engine/FeatureContext.java
  src/main/java/org/broadinstitute/hellbender/engine/FeatureInput.java
  src/main/java/org/broadinstitute/hellbender/engine/FeatureManager.java
  src/main/java/org/broadinstitute/hellbender/engine/GATKTool.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/DataSourceFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotationMap.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/Funcotator.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/DataSourceUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/cosmic/CosmicFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/vcf/VcfFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/LocatableXsvFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/SimpleKeyXsvFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/utils/codecs/xsvLocatableTable/XsvLocatableTableCodec.java
  src/test/java/org/broadinstitute/hellbender/engine/DummyPlaceholderGatkTool.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotationMapUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorEngineUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/vcf/VcfFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/LocatableXsvFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/CustomMafFuncotationCreatorUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRendererUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/test/FuncotatorTestUtils.java
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/PIK3CA_SNPS_engine_test_chr3.vcf
Labels: Funcotator, FuncotatorBetaBlocker

#5226 Adding command line exclusion lists, so that users can prune fields from output.
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/Funcotation.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorArgumentDefinitions.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/OutputRenderer.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/TableFuncotation.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotation.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationBuilder.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRenderer.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/vcfOutput/VcfOutputRenderer.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/TableFuncotationUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/vcf/VcfFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRendererUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/vcfOutput/VcfOutputRendererUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/test/FuncotatorTestUtils.java
Labels: Funcotator, FuncotatorBetaBlocker
