Repository broadinstitute/gatk, pull requests merged in 2018-04, with the labels that each got.

#4589 scaffold local assemblies
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/StructuralVariationDiscoveryArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/StructuralVariationDiscoveryPipelineSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/evidence/AlignedAssemblyOrExcuse.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/evidence/FermiLiteAssemblyHandler.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/evidence/FindBreakpointEvidenceSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/evidence/SVReadFilter.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/evidence/ReviseAssemblyUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/evidence/ReviseAssembly/test.fastq
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/integration/inputs/hg19_DEL_contigAssemblies.sam
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/integration/outputs/hg19_DEL.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/spark/sv/integration/outputs/hg19_DEL_actualContigAssemblies.sam
Labels: SV

#4563 Fixes for HG38 exception and better logging.
  build.gradle
  scripts/funcotator/data_sources/getDbSNP.sh
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/DataSourceFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/Funcotator.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/DataSourceUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/cosmic/CosmicFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/vcf/VcfFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/LocatableXsvFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/SimpleKeyXsvFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRendererConstants.java
  src/main/java/org/broadinstitute/hellbender/utils/test/BaseTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/DataSourceUtilsUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/ExampleMafFileForTests.maf
Labels: Funcotator

#4623 More fix enum hashCode
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignmentInterval.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointComplications.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/ChimericAlignment.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInducingAssemblyContig.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/NovelAdjacencyAndAltHaplotype.java
Labels: SV

#4601 GGA mode for Mutect
  scripts/mutect2_wdl/mutect2.wdl
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/GenotypingEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/GenotypingGivenAllelesUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/StandardCallerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticGenotypingEngine.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/gga_mode.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/gga_mode.vcf.idx
Labels: Evaluation, Mutect, community-request

#4670 fix 4648
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignmentInterval.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/ContigAlignmentsModifier.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/SimpleSVDiscoveryTestDataProvider.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignedAssemblyUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignmentIntervalUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AssemblyContigAlignmentsConfigPickerUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/ContigAlignmentsModifierUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/BreakpointComplicationsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/ChimericAlignmentUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/CpxVariantInterpreterUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/inference/NovelAdjacencyAndAltHaplotypeUnitTest.java
Labels: SV

#4646 update sv scripts to only copy a single bam file and index, and respect project parameter
  scripts/sv/copy_sv_results.sh
  scripts/sv/create_cluster.sh
  scripts/sv/delete_cluster.sh
  scripts/sv/manage_sv_pipeline.sh
  scripts/sv/run_whole_pipeline.sh
Labels: SV

#4690 Better default AF for M2 tumor-normal mode; improved M2 STR filter
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2ArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2FiltersArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2FilteringEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticGenotypingEngine.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
Labels: Mutect

#4704 A bit of tidying Mutect2 code
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/GermlineProbabilityCalculator.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2ArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticGenotypingEngine.java
Labels: Mutect, PRIORITY_LOW

#4710 M2 NIO wdl -- updated for Firecloud pet service accounts
  scripts/mutect2_wdl/mutect2_nio.wdl
Labels: Mutect, wdl
