Repository broadinstitute/gatk, pull requests merged in 2019-04, with the labels that each got.

#5858 Mutect2 uses natural logarithms internally
  src/main/java/org/broadinstitute/hellbender/tools/copynumber/models/AlleleFractionLikelihoods.java
  src/main/java/org/broadinstitute/hellbender/tools/copynumber/models/CopyRatioSamplers.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFs.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/ReferenceConfidenceVariantContextMerger.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/OriginalAlignment.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerReadThreadingAssemblerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/MutectReadThreadingAssemblerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/ReadThreadingAssemblerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/graphs/AdaptiveChainPruner.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/ReadThreadingAssembler.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2ArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticGenotypingEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticLikelihoodsEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticReferenceConfidenceModel.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/clustering/AlleleFractionCluster.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/clustering/BetaBinomialCluster.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/clustering/BinomialCluster.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/clustering/Datum.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/clustering/SequencingError.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/clustering/SomaticClusteringModel.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/BaseQualityFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/ContaminationFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/GermlineFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/M2FiltersArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/MultiallelicFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/Mutect2FilteringEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/NormalArtifactFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/PanelOfNormalsFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/PolymeraseSlippageFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/ReadOrientationFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/StrandArtifactFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/TumorEvidenceFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/readorientation/LearnReadOrientationModelEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/realignmentfilter/FilterAlignmentArtifacts.java
  src/main/java/org/broadinstitute/hellbender/utils/Dirichlet.java
  src/main/java/org/broadinstitute/hellbender/utils/MathUtils.java
  src/main/java/org/broadinstitute/hellbender/utils/NaturalLogUtils.java
  src/main/java/org/broadinstitute/hellbender/utils/QualityUtils.java
  src/main/java/org/broadinstitute/hellbender/utils/genotyper/ReadLikelihoods.java
  src/main/java/org/broadinstitute/hellbender/utils/hmm/ForwardBackwardAlgorithm.java
  src/main/java/org/broadinstitute/hellbender/utils/variant/GATKVCFConstants.java
  src/main/java/org/broadinstitute/hellbender/utils/variant/GATKVCFHeaderLines.java
  src/main/java/org/broadinstitute/hellbender/utils/variant/writers/SomaticGVCFBlockCombiner.java
  src/main/java/org/broadinstitute/hellbender/utils/variant/writers/TLODBlock.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/CombineGVCFsIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFsIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2EngineUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticLikelihoodsEngineUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/GermlineFilterUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/ReadOrientationFilterUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/MathUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/genotyper/ReadLikelihoodsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/hmm/TestHMM.java
  src/test/java/org/broadinstitute/hellbender/utils/variant/writers/SomaticGVCFWriterUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/variant/writers/TLODBlockUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/filtering/merged.stats
  src/testUtils/java/org/broadinstitute/hellbender/testutils/VariantContextTestUtils.java
Labels: Mutect, coding

#5873 CalculateContamination works much better for very small gene panels
  src/main/java/org/broadinstitute/hellbender/tools/walkers/contamination/ContaminationModel.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/ReadThreadingAssembler.java
Labels: Mutect, bug, community-request

#5860 Now throws a user error for an AD field with only 1 value in MAF mode.
  scripts/funcotator/testing/testFuncotator.sh
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/CustomMafFuncotationCreator.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorTestConstants.java
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/badDataOneAlleleDepthValue_hg38.vcf
Labels: Funcotator, enhancement, validation

#5876 Fixed a bug with END positions for deletions in MAF output.
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRenderer.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/MafOutputRendererUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestHg19Large_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestHg19Large_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet1_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet1_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet2_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet2_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSetHG38_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSetHG38_expected.vcf
Labels: Funcotator, bug

#5874 Fix several issues with M2 and HC force-calling mode
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyBasedCallerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyBasedCallerUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyResultSet.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/ReadThreadingAssembler.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2ArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/utils/haplotype/EventMap.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyBasedCallerUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/ReadThreadingAssemblerUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testGenotypeGivenAllelesMode.gatk4.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testGenotypeGivenAllelesMode.gatk4.vcf.idx
Labels: HaplotypeCaller, Mutect, community-request

#5892 Updated M2 WDL README with Funcotator info.
  scripts/mutect2_wdl/README.md
Labels: Documentation, Funcotator, Mutect, wdl

#5890 updated FilterMutectCalls usage examples
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/FilterMutectCalls.java
Labels: Mutect, UserDoc
