Repository broadinstitute/gatk, pull requests merged in 2019-05, with the labels that each got.

#5909 No need to sort variants in HaplotypeCallerSpark.
  src/main/java/org/broadinstitute/hellbender/engine/spark/datasources/VariantsSparkSink.java
  src/main/java/org/broadinstitute/hellbender/tools/HaplotypeCallerSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/pipelines/PrintVariantsSpark.java
  src/test/java/org/broadinstitute/hellbender/engine/spark/datasources/VariantsSparkSinkUnitTest.java
Labels: HaplotypeCallerSpark, Spark

#5960 Fix edge case where dangling end merging creates cycles
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/ReadThreadingAssembler.java
Labels: Mutect, assembly, bug

#5972 specified max-mnp-distance 0 in CreateSomaticPanelOfNormals javadoc
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/CreateSomaticPanelOfNormals.java
Labels: DeveloperDoc, Mutect, UserDoc

#5971 fixed a bug in CalculateContamination when contamination is zero
  src/main/java/org/broadinstitute/hellbender/tools/walkers/contamination/ContaminationModel.java
Labels: bug
