Repository broadinstitute/gatk, pull requests merged in 2019-08, with the labels that each got.

#6069 Got rid of ExpandingArrayList in favor of ArrayList.
  src/main/java/org/broadinstitute/hellbender/tools/walkers/vqsr/MultivariateGaussian.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/vqsr/VariantDataManager.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/vqsr/VariantRecalibrator.java
  src/main/java/org/broadinstitute/hellbender/utils/collections/ExpandingArrayList.java
  src/test/java/org/broadinstitute/hellbender/utils/collections/ExpandingArrayListUnitTest.java
Labels: coding

#6070 A fix for reading GS:// references from a Spark cluster
  src/main/java/org/broadinstitute/hellbender/engine/spark/datasources/ReferenceFileSparkSource.java
Labels: Spark

#6101 fixed Mutect2 bug that overfiltered by one variant
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/FilterMutectCalls.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/Mutect2FilteringEngine.java
Labels: Mutect, bug

#6099 Delete old qual
  src/main/java/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFsEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/GenotypeCalculationArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/GenotypingEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/MinimalGenotypingEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/StandardCallerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/AFCalculationResult.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/AFCalculator.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/AFCalculatorImplementation.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/AFCalculatorProvider.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/AlleleFrequencyCalculator.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/ConcurrentAFCalculatorProvider.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/ExactACcounts.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/ExactACset.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/ExactAFCalculator.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/FixedAFCalculatorProvider.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/GeneralPloidyExactAFCalculator.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/GeneralPloidyFailOverAFCalculatorProvider.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/IndependentAllelesDiploidExactAFCalculator.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/OriginalDiploidExactAFCalculator.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/ReferenceDiploidExactAFCalculator.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/StateTracker.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerGenotypingEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/variantutils/ReblockGVCF.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/pipelines/metrics/MeanQualityHistogramGeneratorUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/annotator/allelespecific/ReducibleAnnotationBaseTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/genotyper/GenotypingEngineUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/AFCalculationResultUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/AFCalculationUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/AFCalculatorImplementationUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/AFCalculatorTestBuilder.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/AFPriorProviderUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/AlleleFrequencyCalculatorUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/ExactACSetUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/ExactACcountsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/FixedAFCalculatorProviderUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/GeneralPloidyAFCalculationModelUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/GeneralPloidyFailOverAFCalculatorProviderUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/GetGLsTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/IndependentAllelesDiploidExactAFCalculatorUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/variantutils/PosteriorProbabilitiesUtilsUnitTest.java
  src/testUtils/java/org/broadinstitute/hellbender/testutils/BaseTest.java
Labels: HaplotypeCaller, coding
