Repository broadinstitute/gatk, pull requests merged in 2019-06, with the labels that each got.

#5904 WDL for ReadsPipelineSpark
  scripts/spark_wdl/README.md
  scripts/spark_wdl/ReadsPipelineSpark.wdl
  scripts/spark_wdl/inputs/ReadsPipelineSpark_exome.json
  scripts/spark_wdl/inputs/ReadsPipelineSpark_genome.json
  scripts/spark_wdl/inputs/ReadsPipelineSpark_small.json
  scripts/spark_wdl/local-no-docker.conf
Labels: Spark, wdl

#5986 BaseQualityHistogramAnnotation
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/BaseQuality.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/BaseQualityHistogram.java
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/annotator/VariantAnnotator/expected/testWithAllAnnotations.vcf
Labels: Annotations

#5982 fixed a bug where normal p value argument in FilterMutectCalls was static
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/M2FiltersArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/Mutect2FilteringEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/NormalArtifactFilter.java
Labels: Mutect, bug

#5999 Adding funcotator stand-alone WDL to supported area
  scripts/funcotator_wdl/README.md
  scripts/funcotator_wdl/funcotator.wdl
Labels: Funcotator, wdl

#5995 Adding soft clipped ratio to OverclippedReadFilter
  src/main/java/org/broadinstitute/hellbender/cmdline/ReadFilterArgumentDefinitions.java
  src/main/java/org/broadinstitute/hellbender/engine/filters/OverclippedReadFilter.java
  src/main/java/org/broadinstitute/hellbender/engine/filters/SoftClippedReadFilter.java
  src/test/java/org/broadinstitute/hellbender/engine/filters/OverclippedReadFilterUnitTest.java
  src/test/java/org/broadinstitute/hellbender/engine/filters/SoftClippedReadFilterUnitTest.java
Labels: enhancement
