Repository broadinstitute/gatk, pull requests merged in 2019-07, with the labels that each got.

#6028 Support for GVCF validation with multiple contigs
  src/main/java/org/broadinstitute/hellbender/tools/walkers/variantutils/ValidateVariants.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/ValidateVariantsIntegrationTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/ValidateVariants/badGVCF.outOfOrderThreeContigs.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/ValidateVariants/badGVCF.outOfOrderTwoContigs.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/ValidateVariants/goodGVCF.inOrderThreeContigs.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/ValidateVariants/goodGVCF.inOrderThreeContigs.g.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/ValidateVariants/goodGVCF.inOrderTwoContigs.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/ValidateVariants/goodGVCF.inOrderTwoContigs.g.vcf.idx
Labels: validation

#6047 fixed a GGA mode bug where added alleles' cigars had soft clips
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyBasedCallerUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/graphs/Path.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/ReadThreadingAssembler.java
  src/main/java/org/broadinstitute/hellbender/utils/read/CigarUtils.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyBasedCallerUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/read/CigarUtilsUnitTest.java
Labels: HaplotypeCaller, bug

#6032 change spark.yarn.executor.memoryOverhead to
  README.md
  gatk
  scripts/sv/run_whole_pipeline.sh
  scripts/sv/stepByStep/discoverVariants.sh
  scripts/sv/stepByStep/scanBam.sh
  src/main/java/org/broadinstitute/hellbender/engine/spark/SparkContextFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/pathseq/PathSeqBwaSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/pathseq/PathSeqFilterSpark.java
  src/main/java/org/broadinstitute/hellbender/tools/spark/pathseq/PathSeqPipelineSpark.java
  src/main/java/org/broadinstitute/hellbender/utils/config/GATKConfig.java
  src/main/resources/org/broadinstitute/hellbender/utils/config/GATKConfig.properties
Labels: PRIORITY_LOW, Spark
