Repository broadinstitute/gatk, pull requests merged in 2019-03, with the labels that each got.

#5734 handle unmarked duplicates with mate MQ = 0 in Mutect2
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
Labels: Mutect

#5743 Fix overfiltering in M2 in GGA alleles with no reads
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/MappingQuality.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/ReadPosition.java
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/annotator/VariantAnnotator/expected/testWithAllAnnotations.vcf
Labels: Mutect, bug

#5755 Updated documentation with FAQ section to respond to user comments.
  docs/funcotator/forum_info/forum_post_tutorial.md
Labels: Documentation, Funcotator

#5769 Update Mutect2 javadoc to reflect v4.1 changes
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2.java
Labels: Documentation, UserDoc

#5768 corrected javadoc for InbreedingCoeff
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/InbreedingCoeff.java
Labels: DeveloperDoc, UserDoc

#5721 Run HaplotypeCallerSpark on WGS in strict mode
  src/main/java/org/broadinstitute/hellbender/engine/spark/FindAssemblyRegionsSpark.java
  src/main/java/org/broadinstitute/hellbender/utils/activityprofile/ActivityProfileStateRange.java
Labels: HaplotypeCallerSpark

#5774 Now non-locatable data sources can create funcotations again.
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/DataSourceFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/cosmic/CosmicFuncotationFactory.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/SimpleKeyXsvFuncotationFactory.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/cosmic/CosmicFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/vcf/VcfFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/LocatableXsvFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/SimpleKeyXsvFuncotationFactoryUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/non_locatable_proof_input.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestHg19Large_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestHg19Large_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet1_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet1_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet2_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet2_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSetHG38_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSetHG38_expected.vcf
Labels: Funcotator, PRIORITY_HIGH, bug

#5786 fixed rare infinite recursion in KBestHaplotypeFinder
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/graphs/KBestHaplotypeFinder.java
Labels: Mutect

#5792 correct some Mutect2 VCF header lines
  src/main/java/org/broadinstitute/hellbender/utils/variant/GATKVCFHeaderLines.java
Labels: Mutect

#5742 bring Funcotator changes to M2 NIO WDL
  scripts/mutect2_wdl/mutect2_nio.wdl
Labels: Mutect, wdl

#5797 avoid error due to finite precision error in M2 pon creation
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/CreateSomaticPanelOfNormals.java
Labels: Mutect

#5745 Unused args in VCF merge
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/GenotypingGivenAllelesUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyBasedCallerUtils.java
  src/main/java/org/broadinstitute/hellbender/utils/variant/GATKVariantContextUtils.java
  src/test/java/org/broadinstitute/hellbender/utils/variant/GATKVariantContextUtilsUnitTest.java
Labels: coding

#5817 Added `#` as a character to be sanitized by `VCFOutputRenderer`.
  scripts/funcotator/testing/testFuncotator.sh
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtils.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FilterFuncotationsIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtilsUnitTest.java
Labels: Funcotator, bug

#5799 Fix for gatk-5449
  build.gradle
  src/test/java/org/broadinstitute/hellbender/tools/genomicsdb/GenomicsDBImportIntegrationTest.java
Labels: GenomicsDB

#5840 Refactoring read orientation model to run within Mutect2
  docs/mutect/mutect.tex
  scripts/m2_cromwell_tests/test_m2_wdl_multi.json
  scripts/mutect2_wdl/mutect2.wdl
  scripts/mutect2_wdl/mutect2_multi_sample.wdl
  scripts/mutect2_wdl/mutect2_nio.wdl
  src/main/java/org/broadinstitute/hellbender/tools/AnnotatePairOrientation.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/OrientationBiasMixtureModelAnnotation.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/OrientationBiasReadCounts.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/ReadOrientationArtifact.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/ReferenceBases.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2ArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/ContaminationFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/ErrorProbabilities.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/FilterMutectCalls.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/FilteredHaplotypeFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/GermlineFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/HardFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/M2FiltersArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/Mutect2FilteringEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/Mutect2VariantFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/NormalArtifactFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/PolymeraseSlippageFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/ReadOrientationFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/StrandArtifactFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/TumorEvidenceFilter.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/readorientation/CollectF1R2Counts.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/readorientation/CollectF1R2CountsArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/readorientation/F1R2CountsCollector.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/readorientation/LearnReadOrientationModel.java
  src/main/java/org/broadinstitute/hellbender/utils/io/IOUtils.java
  src/main/java/org/broadinstitute/hellbender/utils/variant/GATKVCFConstants.java
  src/main/java/org/broadinstitute/hellbender/utils/variant/GATKVCFHeaderLines.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/annotator/OrientationBiasReadCountsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/annotator/ReadOrientationArtifactUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2TestingUtils.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/ReadOrientationFilterUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/readorientation/CollectF1R2CountsIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/readorientation/LearnReadOrientationModelEngineUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/readorientation/LearnReadOrientationModelIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/readorientation/LearnReadOrientationModelUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/io/IOUtilsUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/mitochondria/NA12878.MT.g.vcf.stats
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/filtering/NA12878.vcf.stats
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/filtering/merged.stats
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/mito/unfiltered.vcf.stats
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/annotator/VariantAnnotator/expected/testWithAllAnnotations.vcf
Labels: Mutect, performance, wdl
