Repository broadinstitute/gatk, pull requests merged in 2019-01, with the labels that each got.

#5554 optimize KBestHaplotypeFinder a bit more
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/graphs/KBestHaplotypeFinder.java
Labels: performance

#5555 Improve proposed tumor in normal docs to account for new Mutect2 options
  docs/mutect/mutect.pdf
  docs/mutect/mutect.tex
Labels: DeveloperDoc, Mutect

#5563 fix edge case for Mutect2 germline resource
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/GermlineProbabilityCalculator.java
Labels: Mutect, bug

#5560 Mutect2 works with multiple tumor and normal samples.
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/BaseQuality.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/CountNs.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/OriginalAlignment.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/ReadOrientationArtifact.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/StrandArtifact.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/UniqueAltReadCount.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/contamination/CalculateContamination.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/contamination/ContaminationRecord.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/contamination/GetPileupSummaries.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/contamination/MinorAlleleFractionRecord.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/contamination/PileupSummary.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/FilterMutectCalls.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/FilteringFirstPass.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/GermlineProbabilityCalculator.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2ArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2FiltersArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2FilteringEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticGenotypingEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/readorientation/AltSiteRecord.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/readorientation/ArtifactPrior.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/readorientation/ArtifactPriorCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/readorientation/CollectF1R2Counts.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/readorientation/LearnReadOrientationModel.java
  src/main/java/org/broadinstitute/hellbender/utils/tsv/TableReader.java
  src/main/java/org/broadinstitute/hellbender/utils/tsv/TableUtils.java
  src/main/java/org/broadinstitute/hellbender/utils/tsv/TableWriter.java
  src/main/java/org/broadinstitute/hellbender/utils/variant/GATKVCFConstants.java
  src/main/java/org/broadinstitute/hellbender/utils/variant/GATKVCFHeaderLines.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/annotator/BaseQualityUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/annotator/ReadOrientationArtifactUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/contamination/CalculateContaminationIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/contamination/GetPileupSummariesIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/contamination/PileupSummaryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/StrandArtifactUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/UniqueAltReadCountUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/readorientation/AltSiteRecordUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/readorientation/ArtifactPriorUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/readorientation/CollectF1R2CountsIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/readorientation/LearnReadOrientationModelEngineUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/readorientation/ReadOrientationModelIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/utils/tsv/TableReaderUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/tsv/TableWriterUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/calculatecontamination/NA12891_0.01_NA12892_0.99.table
  src/test/resources/org/broadinstitute/hellbender/tools/calculatecontamination/NA12891_0.03_NA12892_0.97.table
  src/test/resources/org/broadinstitute/hellbender/tools/calculatecontamination/NA12891_0.05_NA12892_0.95.table
  src/test/resources/org/broadinstitute/hellbender/tools/calculatecontamination/NA12891_0.08_NA12892_0.92.table
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/five-pct-contamination.table
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/mito/unfiltered.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/no-contamination.table
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/ten-pct-contamination.table
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/annotator/VariantAnnotator/expected/testWithAllAnnotations.vcf
Labels: Mutect, community-request, enhancement

#5578 Fixed edge case of zero-depth in FilterMutectCalls germline filter
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2FilteringEngine.java
Labels: Mutect, bug

#5580 Put new orientation bias model in M2 NIO wdl
  scripts/mutect2_wdl/mutect2_nio.wdl
Labels: Mutect, wdl

#5397 GenomicsDB matches CombineGVCFs with input spanning deletions
  build.gradle
  src/main/java/org/broadinstitute/hellbender/tools/genomicsdb/GenomicsDBImport.java
  src/test/java/org/broadinstitute/hellbender/tools/genomicsdb/GenomicsDBImportIntegrationTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/GenomicsDBImport/expected.testGenomicsDBImportWithNonDiploidData.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/GenomicsDBImport/expected.testGenomicsDBImportWithNonDiploidData.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/newMQcalc.combined.g.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/GenomicsDBImport/newMQcalc.combined.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/GenomicsDBImport/newMQcalc.combined.g.vcf.idx
Labels: GenomicsDB

#5598 VCF Data Sources now preserve FILTER field
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/vcf/VcfFuncotationFactory.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorTestConstants.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/vcf/VcfFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/test/FuncotatorTestUtils.java
  src/test/resources/large/funcotator/small_ds_FILTER_test/dbSnp/hg19/dbSnp.config
  src/test/resources/large/funcotator/small_ds_FILTER_test/dbSnp/hg19/dbSnp.regressionTestSet.hg19.FILTER.vcf.gz
  src/test/resources/large/funcotator/small_ds_FILTER_test/dbSnp/hg19/dbSnp.regressionTestSet.hg19.FILTER.vcf.gz.tbi
  src/test/resources/large/funcotator/small_ds_FILTER_test/gencode_pik3ca/hg19/gencode.config
  src/test/resources/large/funcotator/small_ds_FILTER_test/gencode_pik3ca/hg19/gencode.v19.PIK3CA.gtf
  src/test/resources/large/funcotator/small_ds_FILTER_test/gencode_pik3ca/hg19/gencode.v19.PIK3CA.gtf.idx
  src/test/resources/large/funcotator/small_ds_FILTER_test/gencode_pik3ca/hg19/gencode.v19.PIK3CA_transcript.dict
  src/test/resources/large/funcotator/small_ds_FILTER_test/gencode_pik3ca/hg19/gencode.v19.PIK3CA_transcript.fasta
  src/test/resources/large/funcotator/small_ds_FILTER_test/gencode_pik3ca/hg19/gencode.v19.PIK3CA_transcript.fasta.fai
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/ExampleMafFileForTests.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/FILTER_test.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/dbSNP_hg19_snippet_with_filters.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/dbSNP_hg19_snippet_with_filters.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestHg19Large_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestHg19Large_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet1_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet1_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet2_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSet2_expected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSetHG38_expected.maf
  src/test/resources/org/broadinstitute/hellbender/tools/funcotator/validationTestData/regressionTestVariantSetHG38_expected.vcf
Labels: Funcotator, FuncotatorBetaBlocker

#5595 tweaking M2 germline filter
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2FilteringEngine.java
  src/main/java/org/broadinstitute/hellbender/utils/QualityUtils.java
Labels: Mutect, PRIORITY_HIGH, bug

#5604 Added liftover wdls and jsons for gnomAD 2.1
  scripts/funcotator/data_sources/gnomAD/liftoverVcf.wdl
  scripts/funcotator/data_sources/gnomAD/liftoverVcf_Gnomad2.1.json
  scripts/funcotator/data_sources/gnomAD/liftoverVcf_Gnomad2.1_exome.json
  scripts/funcotator/data_sources/gnomAD/liftoverVcf_Gnomad2.1_genome.json
  scripts/funcotator/data_sources/gnomAD/mergeVcfs.wdl
  scripts/funcotator/data_sources/gnomAD/mergeVcfs_allGnomad2.1.json
  scripts/funcotator/data_sources/gnomAD/removeInfoFieldAnnotationsFromVcf.wdl
  scripts/funcotator/data_sources/gnomAD/removeInfoFieldAnnotationsFromVcf_gnomAD_hg19.json
  scripts/funcotator/data_sources/gnomAD/removeInfoFieldAnnotationsFromVcf_gnomAD_hg38.json
  scripts/funcotator/data_sources/gnomAD/removeInfoFieldAnnotationsFromVcf_gnomAD_hg38_exomes.json
  scripts/funcotator/data_sources/gnomAD/subsetGnomadInfoFieldToAlleleFrequencies.json
  scripts/funcotator/data_sources/gnomAD/subsetGnomadInfoFieldToAlleleFrequencies.wdl
  scripts/funcotator/testing/testFuncotator.sh
  scripts/mutect2_wdl/mutect_resources.wdl
  scripts/mutect2_wdl/mutect_resources_json/mutect_resources_process_gnomAD_2.1.json
Labels: Funcotator, FuncotatorBetaBlocker

#5614 Updates for latest data source release.
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorDataSourceDownloader.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/DataSourceUtils.java
Labels: Funcotator, FuncotatorBetaBlocker

#5620 Updating Funcotator tool documentation for 4.1 release.
  scripts/mutect2_wdl/unsupported/funcotator.wdl
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/Funcotator.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorDataSourceDownloader.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotation.java
Labels: Funcotator, FuncotatorBetaBlocker

#5621 Removed beta label from Funcotator and FuncotatorDataSourceDownloader.
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/Funcotator.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorDataSourceDownloader.java
Labels: Funcotator, FuncotatorBetaBlocker

#5601 CalculateGenotypePostiors minor updates to javadoc and logger type
  src/main/java/org/broadinstitute/hellbender/tools/walkers/variantutils/CalculateGenotypePosteriors.java
Labels: UserDoc, tools
