Repository broadinstitute/gatk, pull requests merged in 2019-02, with the labels that each got.

#5630 Added in Markdown files for Funcotator forum posts.
  docs/funcotator/forum_info/README.md
  docs/funcotator/forum_info/forum_post_annotation_specifications.md
  docs/funcotator/forum_info/forum_post_human_reference_discrepancies.md
  docs/funcotator/forum_info/forum_post_tutorial.md
Labels: Funcotator

#5658 Update two instances of '--genotyping_mode' with '--genotyping-mode'
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/StandardCallerArgumentCollection.java
Labels: UserDoc

#5668 CRAM support in Mutect2 WDL
  scripts/mutect2_wdl/mutect2_nio.wdl
Labels: Mutect, wdl

#5693 Option to recover all dangling branches -- default in M2 mito mode
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerReadThreadingAssemblerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/MutectReadThreadingAssemblerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/ReadThreadingAssemblerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/ReadThreadingAssembler.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/ReadThreadingGraph.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2ArgumentCollection.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/graphs/ChainPrunerUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/ReadThreadingGraphUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
Labels: Mutect, bug

#5705 waived an unnecessary IllegalArgumentException in PairHMM
  src/main/java/org/broadinstitute/hellbender/utils/pairhmm/PairHMM.java
Labels: HaplotypeCaller, Mutect, bug, community-request

#5706 split MNPs in M2 pon WDL
  scripts/mutect2_wdl/mutect2_pon.wdl
Labels: Mutect

#5562 Prune assembly graph before checking for cycles
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/ReadThreadingAssembler.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/pruned_cycle.bam
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/pruned_cycle.bam.bai
Labels: HaplotypeCaller, community-request

#5736 handle negative infinity log likelihoods from Pair-HMM in Mutect2
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticLikelihoodsEngine.java
Labels: Mutect, bug

#5735 Updated M2 with latest Funcotator info.
  docs/funcotator/forum_info/forum_post_tutorial.md
  scripts/mutect2_wdl/mutect2.wdl
  scripts/mutect2_wdl/unsupported/README.md
  scripts/mutect2_wdl/unsupported/funcotator.wdl
Labels: Funcotator
