Repository broadinstitute/gatk, pull requests merged in 2019-12, with the labels that each got.

#6288 change filter output slightly in Mutect2
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/Mutect2FilteringEngine.java
Labels: Mutect

#6263 Added a force output sites argument to GenotypeGVCFs
  src/main/java/org/broadinstitute/hellbender/engine/VariantLocusWalker.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFs.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFsEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/GenotypingEngine.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFsIntegrationTest.java
Labels: community-request

#6303 made callable sites a Long to avoid integer overflow
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
Labels: Mutect, bug

#6304 uniqify PG IDs in FilterAlignmentArtifacts
  src/main/java/org/broadinstitute/hellbender/tools/walkers/realignmentfilter/FilterAlignmentArtifacts.java
  src/main/java/org/broadinstitute/hellbender/utils/haplotype/HaplotypeBAMDestination.java
  src/test/resources/org/broadinstitute/hellbender/utils/haplotype/HaplotypeBAMWriter/expected/fromHeaderSAM.sam
  src/test/resources/org/broadinstitute/hellbender/utils/haplotype/HaplotypeBAMWriter/expected/testSAM.sam
Labels: Mutect, bug

#6326 Minor Funcotator WDL updates.
  scripts/funcotator_wdl/README.md
  scripts/funcotator_wdl/funcotator.json
  scripts/funcotator_wdl/funcotator.wdl
Labels: Funcotator
