Repository broadinstitute/gatk, pull requests merged in 2020-02, with the labels that each got.

#6406 Test data to illustrate bug in GenotypeGVCFs.removeNonRefAlleles()
  src/main/java/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFsEngine.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFsIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFsUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFs/expected/combine.single.sample.pipeline.1.include_nonvariant.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFs/expected/combine.single.sample.pipeline.2.include_nonvariant.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFs/expected/combine.single.sample.pipeline.3.include_nonvariant.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFs/expected/combined.single.sample.pipeline.include_nonvariant.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFs/expected/gvcf.basepairResolution.includeNonVariantSites.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFs/expected/includeLowQualSites.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFs/expected/testSpanningDeletion.vcf
Labels: bug

#6448 fixed incoherent unit test cases in allele subsetting utils
  src/test/java/org/broadinstitute/hellbender/tools/walkers/genotyper/AlleleSubsettingUtilsUnitTest.java
Labels: tests

#6457 Sped Mutect2 reference confidence model with fast likelihoods model
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticGenotypingEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticLikelihoodsEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticReferenceConfidenceModel.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
Labels: Mutect, performance

#6429 improved checking for upstream deletions in GenotypingEngine
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/GenotypingEngine.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/genotyper/GenotypingEngineUnitTest.java
Labels: bug, coding

#6461 realigning to best haplotype handles indels better
  src/main/java/org/broadinstitute/hellbender/utils/read/AlignmentUtils.java
  src/test/java/org/broadinstitute/hellbender/utils/read/AlignmentUtilsUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testGVCFMode.gatk4.alleleSpecific.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testGVCFMode.gatk4.alleleSpecific.g.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testGVCFMode.gatk4.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testGVCFMode.gatk4.g.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testLinkedDebruijnMode.gatk4.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testLinkedDebruijnMode.gatk4.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/newMQcalc.combined.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/newMQcalc.combined.g.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFs/newMQcalc.combined.genotyped.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFs/newMQcalc.combined.genotyped.vcf.idx
Labels: HaplotypeCaller, Mutect, bug

#6305 Move to GenomicsDB 1.2.0
  build.gradle
  src/main/java/org/broadinstitute/hellbender/engine/FeatureDataSource.java
  src/main/java/org/broadinstitute/hellbender/engine/GenomicsDBBCFCodec.java
  src/main/java/org/broadinstitute/hellbender/engine/VariantLocusWalker.java
  src/main/java/org/broadinstitute/hellbender/tools/genomicsdb/GenomicsDBArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/genomicsdb/GenomicsDBOptions.java
  src/main/java/org/broadinstitute/hellbender/tools/genomicsdb/GenomicsDBUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFs.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/GenotypeCalculationArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/gnarlyGenotyper/GnarlyGenotyper.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/gnarlyGenotyper/GnarlyGenotyperEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/variantutils/SelectVariants.java
  src/test/java/org/broadinstitute/hellbender/tools/genomicsdb/GenomicsDBImportIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/GnarlyGenotyperIntegrationTest.java
Labels: GenomicsDB
