Repository broadinstitute/gatk, pull requests merged in 2020-03, with the labels that each got.

#6403 Simplified cigar and clipping code; added tests and fixed a few bugs
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/BaseQualityRankSumTest.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/OrientationBiasReadCounts.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/ReadPosRankSumTest.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyBasedCallerUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/ReferenceConfidenceModel.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/realignmentfilter/RealignmentEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/rnaseq/SplitNCigarReads.java
  src/main/java/org/broadinstitute/hellbender/utils/IndexRange.java
  src/main/java/org/broadinstitute/hellbender/utils/clipping/ClippingOp.java
  src/main/java/org/broadinstitute/hellbender/utils/clipping/ReadClipper.java
  src/main/java/org/broadinstitute/hellbender/utils/haplotype/Haplotype.java
  src/main/java/org/broadinstitute/hellbender/utils/read/AlignmentUtils.java
  src/main/java/org/broadinstitute/hellbender/utils/read/CigarBuilder.java
  src/main/java/org/broadinstitute/hellbender/utils/read/CigarUtils.java
  src/main/java/org/broadinstitute/hellbender/utils/read/ClippingTail.java
  src/main/java/org/broadinstitute/hellbender/utils/read/ReadUtils.java
  src/main/java/org/broadinstitute/hellbender/utils/recalibration/BaseRecalibrationEngine.java
  src/test/java/org/broadinstitute/hellbender/engine/filters/ReadFilterLibraryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/alignment/AlignmentIntervalUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/rnaseq/SplitNCigarReadsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/clipping/ClippingOpUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/clipping/ReadClipperUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/read/AlignmentUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/read/CigarBuilderUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/read/CigarTestUtils.java
  src/test/java/org/broadinstitute/hellbender/utils/read/CigarUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/read/ReadUtilsUnitTest.java
  src/testUtils/java/org/broadinstitute/hellbender/testutils/ReadClipperTestUtils.java
Labels: bug, coding, refactoring

#6486 Mutect2 can filter MNVs with orientation bias
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/ReadOrientationFilter.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/filtering/ReadOrientationFilterUnitTest.java
Labels: Mutect, enhancement

#6492 Making ENSEMBL GTF Codec more permissive
  src/main/java/org/broadinstitute/hellbender/utils/codecs/gtf/AbstractGtfCodec.java
  src/main/java/org/broadinstitute/hellbender/utils/codecs/gtf/EnsemblGtfCodec.java
  src/main/java/org/broadinstitute/hellbender/utils/codecs/gtf/GencodeGtfCodec.java
  src/main/java/org/broadinstitute/hellbender/utils/codecs/gtf/GencodeGtfFeature.java
  src/main/java/org/broadinstitute/hellbender/utils/codecs/gtf/GencodeGtfFeatureBaseData.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/DataProviderForExampleGencodeGtfGene.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationFactoryUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/codecs/gtf/AbstractGtfCodecUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/codecs/gtf/EnsemblGtfCodecUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/codecs/gtf/GencodeGtfCodecUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/test/FuncotatorTestUtils.java
  src/test/resources/large/funcotator/e_coli.MG1655.expected_output.vcf
  src/test/resources/large/funcotator/ecoli_ds/gencode/ASM584v2/gencode.config
Labels: Funcotator

#6498 Clean leading deletions from reads realigned to best haplotypes
  src/main/java/org/broadinstitute/hellbender/utils/haplotype/Haplotype.java
  src/main/java/org/broadinstitute/hellbender/utils/haplotype/HaplotypeBAMWriter.java
  src/main/java/org/broadinstitute/hellbender/utils/read/AlignmentUtils.java
  src/main/java/org/broadinstitute/hellbender/utils/read/CigarBuilder.java
  src/main/java/org/broadinstitute/hellbender/utils/read/CigarUtils.java
  src/main/java/org/broadinstitute/hellbender/utils/recalibration/BaseRecalibrationEngine.java
  src/main/java/org/broadinstitute/hellbender/utils/smithwaterman/SWNativeAlignerWrapper.java
  src/main/java/org/broadinstitute/hellbender/utils/smithwaterman/SmithWatermanJavaAligner.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/graphs/GraphBasedKBestHaplotypeFinderUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/graphs/JunctionTreeKBestHaplotypeFinderUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/read/AlignmentUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/read/CigarBuilderUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/read/CigarUtilsUnitTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testGVCFMode.gatk4.alleleSpecific.g.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testGVCFMode.gatk4.g.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/IntervalTest.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/IntervalTest.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/convertToBasePairResolution.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/convertToBasePairResolution.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/gvcfWithTrailingReferenceBlocksBandedExpected.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/gvcfWithTrailingReferenceBlocksExpected.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/newMQcalc.combined.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/newMQcalc.combined.g.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/spanningDeletionBaseExtensionTestExpected.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/spanningDeletionRestrictToStartExpected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/spanningDeletionRestrictToStartExpected.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testAlleleSpecificAnnotations.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testAlleleSpecificAnnotations.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testAlleleSpecificAnnotationsNoGroup.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testAlleleSpecificAnnotationsNoGroup.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testBasepairResolutionInput.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testBasepairResolutionInput.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testBreakBandsArgumet.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testBreakBandsArgumet.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testMultipleSpanningDeletionsForOneSample.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testMultipleSpanningDeletionsForOneSample.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testMultipleSpanningDeletionsForOneSampleHaploid.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testMultipleSpanningDeletionsForOneSampleHaploid.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testMultipleSpanningDeletionsForOneSampleTetraploid.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testMultipleSpanningDeletionsForOneSampleTetraploid.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testWrongReferenceBaseBugFix.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testWrongReferenceBaseBugFix.vcf.idx
Labels: HaplotypeCaller, PRIORITY_HIGH, bug

#6507 Fix bug where single-base intervals led to no calls
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyRegionTrimmer.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.CEUTrio.HiSeq.WGS.b37.NA12878.CONTAMINATED.WITH.HCC1143.NORMALS.15PCT.20.10100000-10150000.postIndelRefConfUpdate.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testGVCFMode.gatk4.alleleSpecific.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testGVCFMode.gatk4.alleleSpecific.g.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testGVCFMode.gatk4.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testGVCFMode.gatk4.g.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testHaplotypeCallerRemoveAltAlleleBasedOnHaptypeScores.gatk4.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testLinkedDebruijnMode.gatk4.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testLinkedDebruijnMode.gatk4.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testVCFMode.gatk3.8-4-g7b0250253.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testVCFMode.gatk4.nonstrict.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testVCFMode.gatk4.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/IntervalTest.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/IntervalTest.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/convertToBasePairResolution.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/convertToBasePairResolution.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/gvcfWithTrailingReferenceBlocksBandedExpected.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/gvcfWithTrailingReferenceBlocksExpected.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/newMQcalc.combined.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/newMQcalc.combined.g.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/spanningDeletionBaseExtensionTestExpected.g.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/spanningDeletionRestrictToStartExpected.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/spanningDeletionRestrictToStartExpected.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testAlleleSpecificAnnotations.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testAlleleSpecificAnnotations.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testAlleleSpecificAnnotationsNoGroup.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testAlleleSpecificAnnotationsNoGroup.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testBasepairResolutionInput.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testBasepairResolutionInput.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testBreakBandsArgumet.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testBreakBandsArgumet.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testMultipleSpanningDeletionsForOneSample.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testMultipleSpanningDeletionsForOneSample.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testMultipleSpanningDeletionsForOneSampleHaploid.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testMultipleSpanningDeletionsForOneSampleHaploid.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testMultipleSpanningDeletionsForOneSampleTetraploid.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testMultipleSpanningDeletionsForOneSampleTetraploid.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testWrongReferenceBaseBugFix.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/CombineGVCFs/testWrongReferenceBaseBugFix.vcf.idx
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFs/newMQcalc.combined.genotyped.vcf
  src/test/resources/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFs/newMQcalc.combined.genotyped.vcf.idx
Labels: HaplotypeCaller, bug

#6518 Fix edge case when haplotypes have leading insertion after trimming
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/ReadThreadingAssembler.java
  src/main/java/org/broadinstitute/hellbender/utils/haplotype/Haplotype.java
  src/main/java/org/broadinstitute/hellbender/utils/read/AlignmentUtils.java
  src/test/java/org/broadinstitute/hellbender/utils/haplotype/HaplotypeUnitTest.java
  src/test/java/org/broadinstitute/hellbender/utils/read/AlignmentUtilsUnitTest.java
Labels: bug
