Repository broadinstitute/gatk, pull requests merged in 2020-10, with the labels that each got.

#6792 Fix a bug with soft clips in LeftAlignIndels
  src/main/java/org/broadinstitute/hellbender/utils/read/AlignmentUtils.java
  src/test/java/org/broadinstitute/hellbender/utils/read/AlignmentUtilsUnitTest.java
Labels: bug

#6821 separate alleles in M2 isActive and account for one-third substitution factor
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2EngineUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
Labels: Mutect, enhancement

#6874 Added in requester pays arg to funcotator wdl.
  scripts/funcotator_wdl/funcotator.wdl
Labels: Funcotator

#6823 dont-use-soft-clips actually works in Mutect2
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyBasedCallerUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
Labels: Mutect, bug
