Repository broadinstitute/gatk, pull requests merged in 2021-01, with the labels that each got.

#6113 Added the ability for Indels to be recovered from dangling heads
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerReadThreadingAssemblerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/MutectReadThreadingAssemblerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/ReadThreadingAssemblerArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/AbstractReadThreadingGraph.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/JunctionTreeLinkedDeBruijnGraph.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/ReadThreadingAssembler.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/ReadThreadingGraph.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/JunctionTreeLinkedDeBruijnGraphUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/readthreading/ReadThreadingGraphUnitTest.java
Labels: assembly

#6970 eliminate obsolete cram to bam conversion in M2 WDL
  scripts/mutect2_wdl/mutect2.wdl
Labels: Mutect, wdl

#6908 fix bug in M2 engine active region code
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/different-alts-normal.bam
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/different-alts-normal.bam.bai
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/different-alts-tumor.bam
  src/test/resources/org/broadinstitute/hellbender/tools/mutect/different-alts-tumor.bam.bai
Labels: Mutect
