Repository broadinstitute/gatk, pull requests merged in 2022-03, with the labels that each got.

#7673 Added custom `VariantClassification` severity ordering.
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/BaseFuncotatorArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorArgumentDefinitions.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorVariantArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotation.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/FuncotatorUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/gencode/GencodeFuncotationUnitTest.java
  src/test/resources/large/funcotator/custom_vc_order_files/bad_vc_name.tsv
  src/test/resources/large/funcotator/custom_vc_order_files/custom_vc_expected_out.vcf
  src/test/resources/large/funcotator/custom_vc_order_files/custom_vc_input_test.vcf
  src/test/resources/large/funcotator/custom_vc_order_files/custom_vc_order_for_int_test.tsv
  src/test/resources/large/funcotator/custom_vc_order_files/non_int_sev.tsv
  src/test/resources/large/funcotator/custom_vc_order_files/test1.tsv
  src/test/resources/large/funcotator/custom_vc_order_files/test2.tsv
  src/test/resources/large/funcotator/custom_vc_order_files/test3.tsv
  src/test/resources/large/funcotator/custom_vc_order_files/wrong_num_columns.tsv
Labels: Funcotator

#7679 Fixed a bug where force calling alleles were lost upon trimming by placing allele injection after trimming
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyBasedCallerUtils.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/realignmentfilter/FilterAlignmentArtifacts.java
  src/main/java/org/broadinstitute/hellbender/utils/haplotype/Haplotype.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyBasedCallerUtilsUnitTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/utils/haplotype/HaplotypeUnitTest.java
  src/test/resources/large/mutect/mito/alleles.vcf
  src/test/resources/large/mutect/mito/alleles.vcf.idx
  src/test/resources/large/mutect/mito/mito.bam
  src/test/resources/large/mutect/mito/mito.bam.bai
  src/test/resources/large/mutect/mito/mito_shifted_8000.dict
  src/test/resources/large/mutect/mito/mito_shifted_8000.fasta
  src/test/resources/large/mutect/mito/mito_shifted_8000.fasta.fai
Labels: bug, Mutect

#7663 Changes to Mutect2 to support Mutect3
  scripts/mutect2_wdl/mutect3_training_data.wdl
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/AssemblyComplexity.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/FeaturizedReadSets.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/ReferenceBases.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/GatherNormalArtifactData.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/GetNormalArtifactData.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/M2ArgumentCollection.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2Engine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect3DatasetEngine.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/NormalArtifactRecord.java
  src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/SomaticGenotypingEngine.java
  src/main/java/org/broadinstitute/hellbender/utils/variant/GATKVCFConstants.java
  src/main/java/org/broadinstitute/hellbender/utils/variant/GATKVCFHeaderLines.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/GetNormalArtifactDataIntegrationTest.java
  src/test/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutect2IntegrationTest.java
Labels: Mutect
